<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-6'>
      <label>Name</label>
    </div>
    <div class='col-md-6'>
      <input [(ngModel)]="User.Name">
    </div>
  </div>
  <div class='row'>
      <div class='col-md-6'>
        <label>Age</label>
      </div>
      <div class='col-md-6'>
        <input [(ngModel)]="User.Age">
      </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
          <label>Gender</label>
        </div>
        <div class='col-md-6'>
          <input [(ngModel)]="User.sex">
        </div>
      </div>
      <div class='row'>
          <div class='col-md-6'>
            <label>Mobile Number</label>
          </div>
          <div class='col-md-6'>
            <input [(ngModel)]="User.mobileNumber">
          </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
              <label>Diplay Picture</label>
            </div>
            <div class='col-md-6'>
                <img  [src]="'data:image/jpg;base64,'+User.profileDetails.displayPic"
                class="img-thumbnail">
                <input type="file" class="col-md-2" (change)="onFileChange($event)">
            </div>
          </div>
</div>
